.my-name {
    font-weight: bold;
    color: #8eff5e;
}
.whisper-to-me {
    background-color:#c0c0c0;
}
.my-message {
    color: blue;
}
.admin-message {
    color: red;
}
.system-message {
    color: #666;
}