.recent-actions {
    margin: 1em;
    font-size: 0.9em;
}

.rated-user {
    font-family: arial;
    text-decoration: none !important;
    font-weight: bold;
}

.user-red {
    color: red !important;
}

.user-yellow {
    color: #bb0 !important;
}

.user-blue {
    color: blue !important;
}

.user-green {
    color: green !important;
}

.user-gray {
    color: gray !important;
}

.user-admin {
    color: black !important;
    /*font-weight: normal;*/
}
