.problem-statement {
    margin: 0.5em;
    font-family: verdana;
    line-height: 1.5em;
    font-size: 14px;
}

.problem-statement .epigraph {
    margin-left: 67%;
    width: 33%;
}

.problem-statement .epigraph-text {
}

.problem-statement .epigraph-source {
    border-top: 1px solid #888;
    text-align: right;
}

.problem-statement p {
    margin: 0 0 1em 0;
}

.problem-statement .header {
    margin-bottom: 1em;
    text-align: center;
}

.problem-statement .header .title {
    font-size: 150%;
    margin-bottom: 0.5em;
}

.problem-statement .header .title {
    font-size: 150%;
    font-family: arial;
}

.problem-statement ul {
    list-style: disc;
    list-style-type: disc;
    list-style-position: inside;
}

.problem-statement .property-title {
    display: inline;
}

.problem-statement .property-title:after {
    content: ": ";
}

.problem-statement .time-limit, .problem-statement .memory-limit, .problem-statement .input-file, .problem-statement .output-file {
    margin: 0 auto;
}

.problem-statement .legend {
    margin-bottom: 1em;
}

.problem-statement .section-title {
    font-family: arial;
    font-size: 115%;
    font-weight: bold;
}

.problem-statement .input-specification,
    .problem-statement .output-specification,
    .problem-statement .sample-tests,
    .problem-statement .author,
    .problem-statement .resource,
    .problem-statement .date {
    /*margin-bottom: 1em;*/
}

.problem-statement .output-specification {
    margin-bottom: 1em;
}

.problem-statement .sample-tests .sample-test {
}

.problem-statement .sample-tests .input, .problem-statement .sample-tests .output {
    border: 1px solid #888;
}

.problem-statement .sample-tests .output {
    margin-bottom: 1em;
    position: relative;
    top: -1px;
}

.problem-statement .sample-tests pre {
    line-height: 1.25em;
    padding: 0.25em;
    margin: 0;
    background-color: #efefef;
}

.problem-statement .sample-tests .title {
    font-family: arial;
    padding: 0.25em;
    border-bottom: 1px solid #888;
    text-transform: lowercase;
    font-weight: bold;
}

.tex-formula {
    font-family: times new roman;
    vertical-align: middle;
    margin: 0;
    border:medium none;
    position: relative;
    bottom: 2px;
}

.tex-span {
    font-size: 125%;
    font-family: times new roman;
}

.tex-font-size-tiny {
    font-size: 70%;
}

.tex-font-size-script {
    font-size: 75%;
}

.tex-font-size-footnotes {
    font-size: 85%;
}

.tex-font-size-small {
    font-size: 85%;
}

.tex-font-size-normal {
    font-size: 100%;
}

.tex-font-size-large-1 {
    font-size: 115%;
}

.tex-font-size-large-2 {
    font-size: 130%;
}

.tex-font-size-large-3 {
    font-size: 145%;
}

.tex-font-size-huge-1 {
    font-size: 175%;
}

.tex-font-size-huge-2 {
    font-size: 200%;
}

.tex-font-style-rm {
}

.tex-font-style-sf {
    font-family: arial;
}

.tex-font-style-tt {
    font-size: 110%;
    font-family: courier new;
}

.tex-font-style-md {
}

.tex-font-style-bf {
    font-weight: bold;
}

.tex-font-style-up {
}

.tex-font-style-it {
    font-style: italic;
}

.tex-font-style-sl {
    font-style: italic;
}

.tex-font-style-sc {
    text-transform: uppercase;
}

.tex-graphics {
    display: block;
}