.second-level-menu {
    position: absolute;
    /*top: -0.75em;*/
    left: 5px;
    top: -1.25em;
}

.second-level-menu-list {
    position: relative;
    height: 29px;
    width: 721px;
    overflow: hidden;
}

.second-level-menu-list li {
    float: left;
    list-style: none;
}

.second-level-menu-list li.back {
    background: url( "../images/menu/lava.png" ) no-repeat right -20px;
    width: 9px;
    height: 20px;
    z-index: 8;
    position: absolute;
}

.second-level-menu-list li.back .left {
    background: url( "../images/menu/lava.png" ) no-repeat top left;
    height: 20px;
    margin-right: 9px;
}

.second-level-menu-list li a {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 0.8em arial;
    color: black;
    outline: none;
    text-align: center;
    height: 20px;
    top: 4px;
    z-index: 10;
    letter-spacing: 0;
    float: left;
    display: block;
    margin: auto 10px;
}
