/* blue: #445f9d */
/* red: #bb2024 */

#body {
    max-width: 1200px;
    min-width: 920px;
    margin: 0 auto;
}

.highlight {
    border: 1px solid #FFC300;
    background-color: #FFF7DB !important;
}

.highlight-blue {
    border: 1px solid #3B5998;
    background-color: #EAF4FF !important;
}

.button {
    padding: 0 1em !important;
    height: 1.65em !important;
}

#header {
    height: 5em;
    margin: 0 1em;
}

.login-panel {
    float: right;
}

.lang-chooser {
    float: right;
}

#sidebar {
    float: right;
    width: 20em;
    display: inline;    
    padding-left: 4em;
    margin: 1em 1em 1em -22em;
}

.sidebox {
    margin-bottom: 1.5em;
}

#content {
    margin: 1em;
    padding-top: 1em;
    min-height: 20em;
}

.content-with-sidebar {
    margin-right: 22em !important;
}

.post {
    background: #c4a000;
    padding: 1em;
    margin: 1em 0em 1em 0em;
}

#footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 1em;
    clear: both;
    height: 4em;
}

.search {
    border: 1px solid #d4d4d4;
    height: 16px;
    line-height: 16px;
    float: right;
    padding: 1px 1px 1px 20px;
    margin: 4px 1em 0 0; 
    background: #f4f4f4 url(../images/search-16x16.png) 2px 2px no-repeat;
}

.menu-box {
    margin: 0 1em;
    padding-top: 0.5em;
    height: 2.75em;
    line-height: 2.75em;
}

.menu-list-container {
    margin: 0;
}

.menu-list {
    margin-left: 1em;
}

.menu-list li {
    float: left;
    list-style: none;
    margin-right: 2em;
}

.menu-list li a {
    font: bold 1.1em arial;
    text-decoration: none;
    color: #000;
    outline: none;
    text-align: center;
    top: 7px;
    text-transform: uppercase;
    letter-spacing: 0;
    display: block;
    float: left;
    height: 28px;
    position: relative;
    overflow: hidden;
    margin: auto 2px;
}

.menu-list li.current {
    border-bottom: 3px solid #3B5998;
}

.menu-list li.item-highlighted * {
    color: red;    
}

.menu-list li a:hover, .menu-list li a:active, .menu-list li a:visited {
    border: none;
}

.live {
    margin: 1em;
}

.live li {
    margin-bottom: 0.5em;
}

.live li.last {
    margin-bottom: 0;
}

.live li .blog {
    color: rgb(0, 0, 0);
}

.live li .comments {
    color: #f00;
}

.notice {
    color: #aaa;
}

.error {
    color: red;
}

.shiftUp {
    position: relative;
    top: -5px;
}

.caption-edit-link {
    float: right; 
    font-size: 0.8em;
}

.filter-box {
    position: relative;
    height: 2em;
    margin: 0.25em 0;
}

.filter-box input {
    background: #f4f4f4 url(../images/filter-16x16.png) 2px 2px no-repeat;
    border: 1px solid #d4d4d4;
    height: 1.2em;
    line-height: 1em;
    position: absolute;
    margin-top: 4px;
    margin-bottom: 2px;
    padding: 1px 1px 1px 18px;
    right: 0;  
}

.action-link img {
    vertical-align: middle;
}

.avatar {
    text-align: center;
    font-size: smaller;
}

/* Comments */

.comments {
    margin-top: 2em;
}

.comments .title {
    color:#3B5998 !important;
    font-size:1.8em;
    margin-bottom: 1em;
}

.comment-table {
    width: 95%;
    margin: 0.25em;
}

.comment-table td.left {
    text-align: center;
    width: 100px;
    padding: 0.5em;
}

.comment-table td.right {
    text-align: left;
    vertical-align: top;
    padding: 0.5em;
}

.comment-table .reply {
    padding-top: 1em;
    font-size: 0.8em;
}

.comment-table .info {
    font-size: 0.8em;
    color: #B9B9B9;
    margin-bottom: 0.5em;
    position: relative;
}

.comment-table .info .item {
    margin-right: 0.5em;
}

.comment-table .info .item a {
    color: #B9B9B9 !important;
}

.comment-children li {
    margin: 0.25em 0 0.25em 4em;
}

.centered-message {
    margin: 5em auto;
    text-align: center;
    font-size: 1.5em;
}

.welldone {
    color: green;
    font-weight: bold;
}

.countdown {
    color: #777;
}

.highlighted-row td, .highlighted-row th {
    background-color: #def !important;
}

.file {
    margin: 0.5em;
    font-size: 11px;
}

.file .name {
    font-weight: bold;
}

.file .text {
    background-color: #ddd;
}

.infoline {
    margin: 0.5em;
}

/* from-renderer */

.from-renderer {
    display: inline !important;
}

.from-renderer ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0.5em;
}

.from-renderer ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin: 0.5em 0;
}

.from-renderer p {
    margin: 1em 0;
}

#edit_area_toggle_checkbox_label {
    font-size: 12px;
    margin-left: 1em;
}

.red-link {
    background-color: #c00;
    color: white !important;
    font-weight: bold;
    padding: 0.2em;
}

.contest-state-phase {
    color: #3B5998;
    font-size: 15px;
    font-weight: bold;
}

.contest-state-regular {
    font-size: 1.4em;
}

.confirm-proto {
    margin: 1em;
}

.confirm-proto .text {
    padding-bottom: 1em;
}

.confirm-proto input {
    width: 6em;
    padding: 0.25em 0.5em;
    margin: 1em 1em 1em 1em;
}

.small {
    font-size: 10px !important;
}

.small * {
    font-size: 10px !important;
}

.friendStar {
    position: relative;
    left: 0.25em;
    top: 0.25em;
}

.caption {
    margin: 0 0 1em 0;
    font-size: 15px;
    font-weight: bold;
    color: #3B5998;
}
